{
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": ".",
    "paths": {
      "~/*": ["./src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "rootDir": "."
}
